.container {
  width: 960px;
  margin: 0 auto;
}

.movelist {
  list-style: none;
  padding: 0;
  margin: 40px 0;
}

.movelist li {
  margin-bottom: 20px;
}

.movelist span {
  display: block;
  margin-bottom: 5px;
}

.movieform {
  background: #efefef;
  padding: 20px;
  display: block;
  width: 400px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.movieform input, .movieform textarea {
  display: block;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  width: 100%;
  margin-bottom: 15px;
}

.movieform button {
  background: green;
  border-radius: 5px;
  color: #fff;
  border: none;
  display: block;
  padding: 5px 10px;
  
}

.movieform button:hover {
  background-color: rgb(1, 202, 1);
  cursor: pointer;
}